body{
	margin: 0;
	padding: 0;
	background: #545E4F;
	background-size: cover;
}
.box{
	width: 1000px;
	border-radius: 40px;
	background: #867A61;
	padding: 50px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: whitesmoke;
	font-family: 'Century Gothic', sans-serif;
}
.box h1{
	font-size: 40px;
	letter-spacing: 5px;
	font-weight: 100;
}
button{
	width: 120px;
	padding: 10px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 20px;
	font-weight: bold;
	border: 2px solid #6C523B;
	background: #545E4F;
	color: whitesmoke;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: whitesmoke;
	height: 100%;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}