body{
	margin: 0;
	padding: 0;
	background: #75735F;
	background-size: cover;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: whitesmoke;
	line-height: 1.5;
	letter-spacing: 1px;
}
.wrapper{
	min-height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}
.info{
	padding: 30px 100px;
}
article h1{
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
}
article h1:after{
	height: 5px;
	width: 225px;
	background-color: #90633B;
}
button{
	width: 120px;
	padding: 10px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 20px;
	font-weight: bold;
	border: 2px solid #6C523B;
	background: transparent;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: dimgray;
	height: 100%;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover{
	border: none;
}